version: "3.9"

services:

  mongo:
    image: mongo:6
    container_name: ecommerce-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./ecommerce-backend
    container_name: ecommerce-backend
    restart: always
    ports:
      - "4001:4001"
    env_file:
      - ./ecommerce-backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./ecommerce-frontend
    container_name: ecommerce-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
